@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="text-align:center">
    <div class="col">
        <img alt="logo" src="~/Images/SUN_LAST1.png" width="610" height="630" />
    </div>
</div>